.product
  .product--container
    - products.each do |product|
      = link_to product_path(product) do
        .product--mini-overview
          .product--full-overview
            .product--image
              %img{ src: 'https://i.allo.ua/media/catalog/product/cache/3/small_image/212x184/9df78eab33525d08d6e5fb8d27136e95/m/b/mba-pfopen-spcgry-ww-en.tif-screen_1_2.jpg' }
            .product--title
              = product.title
            .product--price
              = link_to root_path do
                = "#{product.price} uah"
            .product--controls
              = link_to '#' do
                .buy-button
                  "BUY"
              = link_to '#' do
                .buy-button
                  "BUY"
            .product--description
              = product.description
              = "#{product.price} uah"
              = product.description
              = product.description
            -# .product--description
              = product.attributes

= paginate products
